body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header, section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

header h1 {
    color: #333;
    text-align: center;
}

.inicio-caja, .corte-caja, .registros {
    margin-bottom: 20px;
}

.fo {
    margin: 10px 0;
}

.su {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}
